@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f1011;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black: #0f1011;
  --color-light-green: #c1fb69;
  --color-light-blue: #509cf5;
  --color-deep-blue: #5c7af7;
  --color-dark-gray: #565758;
  --color-light-gray: #e7e7e7;
  --color-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

.padding {
  @apply px-4 md:px-12 lg:px-20;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
  margin: 0;
  padding: 0;
  @apply text-black;
}

.small-p {
  @apply text-base sm:text-lg text-gray-600 max-w-md leading-relaxed;
}

.text-m {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-medium leading-tight;
}

.tag {
  @apply px-4 py-1 w-fit rounded-full text-xs sm:text-sm font-light shadow-sm mb-6 border border-gray-200 bg-white;
}
